* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
/* General settings */
h1,h2,h3,h4,h5,h6,p,a{
	font-family: 'Montserrat', sans-serif;
}
.container{
	width: 1024px;
	margin: 0 auto;
}


/*Header START*/
.header{
	height: 100px;
	background: #373c3f;
	text-transform: uppercase;
	position: relative;
}
.logo{
	float: left;
	margin-top: 40px;
	font-size: 15px;
	font-weight: bold;
}
.logo a{
	color: #fff;
	margin: 0 15px 0 55px;
}
.header-nav{
	float: left;
	margin-top: 40px;
	
}
.header-nav li{
	display: inline-block;
	margin: 0 15px;
	font-size: 15px;

}
.header-nav li a{
	color: #fff;
}
.slicknav_menu {
	display:none;
}
/*Header  END*/

/*Main START*/
.inner-block{
	height: 580px;
	background: url(../img/inner-bg.jpg);
	color: #fff;
	padding: 205px 0 0 80px;
}
.inner-block h1{
	font-size: 36px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 50px;
}
.inner-block span{
	display: inline-block;
	color: #a8d4de;
	font-size: 20px;
}
.img-gallery{
	overflow: hidden;
}
.img-block{
	float: left;
	line-height: 0;
}
.img-block img{
	width: 100%;
}
.img-block.w70{
	width: 70%;
}
.img-block.w30{
	width: 33.3333%;
}
.link{
	float: left;
	width: 30%;
	height: 221px;
	background: #bc3184;
	position: relative;
}
.text-area{
	margin-top: 1px;
	height: 565px;
	background: #ebebeb;
	padding: 55px 80px 180px;
	width: 100%;
	overflow: hidden;
}
.text-area a{
	font-size: 30px;
}
.text-area p{
	display: inline-block;
	font-size: 14px;
	column-count: 2;
	column-gap: 55px;
	margin-top: 35px;
}
/*Main END*/

/*Media*/
@media (max-width: 1059px){
	.container{
		width: 750px;
	}
	.link{
		height: 162px;
	}
}
@media (max-width: 767px){
	.container{
		width: 620px;
	}
	.header{
		height: 70px;
	}
	.link{
		height: 133px;
	}
	.img-block.smw100{
		width: 100%;
	}
	.slicknav_menu{
		display: block;
		float: right;
		height: 70px;
	}
	.slicknav_nav{
		left: 5px;
  		top: 70px;
	}
	.header-nav{
		display: none;
	}
}
@media (max-width: 639px){
	.container{
		width: 320px;
	}
	.header{
		height: 40px;
	}
	.link{
		height: 69px;
	}
	.slicknav_menu{
		height: 40px;
	}
	.slicknav_menu .slicknav_no-text{
		margin: 0 10px 0 0;
	}
	.slicknav_nav{
		left: 5px;
  		top: 40px;
	}
}
